/* ==========================================================================
screen 480px
========================================================================== */
@media only screen and (max-width: 480px) {

    .wrapper {
        width: 100%;
    }

}
/* ==========================================================================
screen 480-720px
========================================================================== */
@media only screen and (min-width: 480px) and (max-width: 720px) {

    .wrapper {
        width: 100%;
    }

    .main article {
        width: 100%;
        padding: 0 10px;
    }

}
/* ==========================================================================
screen 721-1280px
========================================================================== */
@media only screen and (min-width: 721px) and (max-width: 1280px) {

    .header-container, .main, .footer-container {
        -webkit-box-shadow: 0 0 16px rgba(0,0,0,0.75);
        -moz-box-shadow: 0 0 16px rgba(0,0,0,0.75);
        box-shadow: 0 0 16px rgba(0,0,0,0.75);
    }

    .wrapper{
        width: 90%;
        max-width: 960px;
        margin: 0 auto;
    }

    .main.wrapper {
        margin: 0 auto;
        max-width: 960px;
        width: 90%;
    }

    .main article {
        width: 100%;
        padding: 0 60px;
    }

}
/* ==========================================================================
screen 1281px
========================================================================== */
@media only screen and (min-width: 1281px) {

    .header-container, .main, .footer-container {
        -webkit-box-shadow: 0 0 16px rgba(0,0,0,0.75);
        -moz-box-shadow: 0 0 16px rgba(0,0,0,0.75);
        box-shadow: 0 0 16px rgba(0,0,0,0.75);
    }

    .main-container {
        width: 100%;
    }

    .wrapper{
        width: 90%;
        min-width: 960px;
        margin: 0 auto;
    }

    .main.wrapper {
        width: 90%;
        margin: 0 auto;
        padding: 0 10px;
    }

    article.tweet-container {
        width: 50%;
    }

    article.tweet-container:nth-child(odd) {
        float: left;
    }

    article.tweet-container:nth-child(even) {
        float: right;
    }

    article.tweet-container:nth-child(2) {
        margin-top: 80px;
    }
}
/* ===============
    ALL: IE Fixes
   =============== */
.ie7 .title {
    padding-top: 20px;
}
/* ==========================================================================
   defaul style
   ========================================================================== */
body{
    background: #aaaaaa;
}

.body-wrapper {
    overflow: hidden;
}
/* ==========================================================================
   Header
   ========================================================================== */
.header-container, .footer-container{
    width: inherit;
    background: #aaaaaa;
    position: relative;
    z-index: 2;
}
.header-container{
    height: 70px;
    border-bottom: 1px #ffffff solid;
}
.authorization-container a, .poisk-container{
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.authorization-container{
       height: 44px;
       float: left;
       margin-top: 20px;
   }
.authorization-container a{
    display: block;
    float: left;
    text-decoration: none;
    height: 44px;
    line-height: 44px;
    padding: 0  10px;
    background-repeat: no-repeat;
    background-color: #ffffff;
    margin-left: 10px;
    color: #666666;
}
a.registration{
    background-image: url("../img/zvezda.gif");
    background-position: 10px center;
    padding-left: 39px;
}
a.login{
    background-image: url("../img/door.gif");
    background-position: 12px center;
    padding-left: 36px;
}
.poisk-container{
    height: 44px;
    width: 580px;
    float: right;
    margin: 20px 10px 0 0;
    background: #ffffff;
}
.poisk-container input{
    display: block;
    float: left;
    width: 525px;

    height: 24px;
    padding: 10px 0;
    margin: 0 0 0 10px;

    font-size: 16px;
    line-height: 24px;

    color: #666666;
    border: 0;
}
.poisk-container input[type='button']{
    display: block;
    background: url("../img/lupa.gif") no-repeat center;
    height: 24px;
    width: 24px;
    float: right;
    margin:10px  10px 0;
}
/* ==========================================================================
   Footer
   ========================================================================== */
.footer-container{
   height: 127px;
    border-top: 1px #ffffff solid;
}
.copyright p{
    font-size: 12px;
    line-height: 18px;
    color: #444444;
}
/* ==========================================================================
   ScrollTop
   ========================================================================== */
.scrollTop{
    display: none;
    width: 70px;
    height: 120px;
    background: #ffffff;
    position:  absolute;
    right: -70px;
    bottom: 120px;
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
    -webkit-box-shadow: 0 0 16px rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 16px rgba(0,0,0,0.75);
    box-shadow: 0 0 16px rgba(0,0,0,0.75);
}
.scrollTop>div{
    background: #ffffff;
    height: 130px;
    width: 20px;
    float: left;
    margin: -5px 0 0 -20px;
}
.scrollTop a{
    display: block;
    padding-top: 50px;
    width: 60px;
    float: left;
    height: 50px;
    margin-top: 10px;
    background: url("../img/scrollTop.gif") no-repeat center 24px;
    font-size: 16px;
    color: #666666;
    text-align: center;
    text-decoration: none;
    line-height: 40px;
}
.scrollTop a:hover{
    background-color: #ccd0e5;
}
/* ==========================================================================
   Main content
   ========================================================================== */
.main-container{
    width: inherit;
}
.main{
    height: 1000px;
    background: #ffffff;
    position: relative;
    z-index: 1;
}
h1.title {
    color: #333;
    font-size: 48px;
    line-height: 72px;
    text-align: center;
}
h1.title .inactive {
    color: #ccc;
}
article.tweet-container {
    min-width: 460px;
    max-width: 940px;
    margin-bottom: 20px;
}
.avatar-container {
    margin-right: 20px;
    width: 170px;
}
.tweet {
    max-width: 750px;
}
.username,
.datetime {
    display: inline-block;
}
.tweet-data-block {
    color: #909;
    font-size: 18px;
    line-height: 27px;
}